*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
/*preciso deixar o menu responsivo*/
a{
    transition: 0.3s;
}

.logo:hover{
    opacity: 0.7;
    border:10px;
}

header{
    height: 100px;
    background-color: #FFA3A3;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 10px 20px;
    margin: 15px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    transition: 0.3s;
    border-radius: 90px;
    background-color: #FA8072;
    color: #000000;
}

nav ul li a:hover{
    background-color:#FA8072;
    color:white; 
}

.barra-pesquisa{
    position: absolute;
    top: 4%; 
    left:10%;  /* transform: translate(-12%, -50%); - caso precise ajustar a posição*/
    background: white;
    height: 30px;
    width: 400px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #000000;
    font-size: 16px;
    line-height: 40px;
    width: 400px;
}

.s1{
    background-color: #FAF4D4;
    border-radius: 15px;
    width: 250px;
    height: 550px;
    position:relative;
    top: 24px;
    left: 25px;

}

.s1 p{
    position:relative;
    left: 25px;
}

.s1 h3{
    position:relative;
    left: 25px;
}

.s1 hr{
    position:relative;
    left: 25px;
}


.s2{
    background-color: #EAC568;
    border-radius: 15px;
    width: 942px;
    height: 135px;
    position:relative;
    top: -525px;
    left: 300px;
}

.s2 h2{
    color: white;

}


section.ani-adt {
    position: relative;
    top: -540px;
    left: 300px;
    width: 250px;
    height: 500px;
    grid-template-columns: auto auto auto auto;
    font-size: 12px;
    
}

div.ani-adt{
    border-radius: 15px;
    background-color: #F5F5F5;
    width: 250px;
    padding: 15px;
    margin: 10px;
    
}

.ani-adt img {
    width: 200px;
    text-align: center;
    display: block;
    position:relative;
    left: 25px;

}


.ani-adt a {
    color: black;
    text-decoration: none;
}


section.ani-adt01 {
    position: relative;
    top: -1050px;
    left: 600px;
    width: 250px;
    height: 10px;
    grid-template-columns: auto auto auto auto;
    font-size: 12px;
    
}

div.ani-adt01{
    border-radius: 15px;
    background-color: #F5F5F5;
    width: 250px;
    padding: 15px;
    margin: 10px;
    
}

.ani-adt01 img {
    width: 200px;
    display: flex;
    justify-content: center;
    position:relative;
    left: 25px;

}


.ani-adt01 a {
    color: black;
    text-decoration: none;
}



section.ani-adt02 {
    position: relative;
    top: -1070px;
    left: 900px;
    width: 250px;
    height: 10px;
    grid-template-columns: auto auto auto auto;
    font-size: 12px;
    
}

div.ani-adt02{
    border-radius: 15px;
    background-color: #F5F5F5;
    width: 250px;
    padding: 15px;
    margin: 10px;
    
}

.ani-adt02 img {
    width: 200px;
    position:relative;
    left: 25px;
}


.ani-adt02 a {
    color: black;
    text-decoration: none;
}



/*position:absolut sobrepoem os elementos, arrumar no footer*/


footer{
    padding: 20px ;
    background-color:#FFA3A3;

}


/*
.logo02{
    height: 121px;
    left: 52.29px;
    top: 230px;
}
*/


.footer_content{
    max-width: 1400px;
    padding:0, 4%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
}


.menu{
    width: 200px;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    top: -10px;
    left: 150px;
    height: 2px;
    line-height: 22px;

}

.menu ul{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: #000000;
}


.footer_contacts{
    width: 500px;
    height: 2px;
    position: relative;
    top: 25px;
    left: 290px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    color: #000000;
}

.footer_contacts ul{
    list-style: none;
}

.footer_social_media p{
    width: 139px;
    height: 2px;
    position: relative;
    top: 20px;
    left: 170px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

.face{
    position: relative;
    top: 33px;
    left: 157px;
   
}

.insta{
    position: relative;
    top: 37px;
    left: 152.5px;
}

.whats{
    position: relative;
    top: 30px;
    left: 155px;
}

